<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Web Scraper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
 
    
  <main role="main">
  
    <section class="jumbotron text-center;" style="background-image:url({{links[5]['img_url']}}); background-size: cover;">
      <div class="container">
        <h1>Welcome to the Mars Web Scraper!</h1>
        <p class="lead text-muted">Get your latest Mars updates and some gorgeous photos</p>
        <p>
          <a href="/scrape" class="btn btn-primary my-2">Scrape Data</a>

          <a href="{{links[5]['img_url']}}" class="btn btn-secondary my-2">View Featured Image in Full Resolution</a>
        </p>
      </div>
      
    </section>
  
    <div class="blog-post">
      <h2 class="blog-post-title"><center>{{links[4]['title']}}</center></h2>
        <p><center>{{links[4]['img_url']}}</center></p>
        <div class="table-responsive" style="width=100%;"><center>{{links[6]['img_url']|safe}}</center></div>
      <hr>
      <h2><center>Gallery</center></h2>
      <p><center>If you would like to see an image in full resolution, please slect the "View" button below your selected image</center></p>
    </div>
    
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
            {% for x in links[:4]%}
          <div class="col-md-3">
            <center>
            <div class="card mb-4 shadow-sm">
              <img src={{x['img_url']}} width="85%" height="85%"></rect></svg>
              <div class="card-body">
                <p class="card-text">{{x['title']}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{x['img_url']}}"><button type="button" class="btn btn-sm btn-outline-secondary" >View</button></a>
                  </div>
                </div>
              </div>
            </div>
          </center>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>     
    
    

  </main>
</body>

<footer class="footer mt-auto py-3">
  <div class="container">
    <br>
    <br>
    <p class="float-right">
      <a href="/">Back to top</a>
    </p>
    <p>© Bootstrap</p>
    <p><a href="https://getbootstrap.com/">Visit the homepage</a></a>.</p>
  </div>
</footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  </html>
