<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{links[0]['title']}}</p>
    <p>{{links[0]['img_url']}}</p>
    <p>{{links[1]['title']}}</p>
    <p>{{links[1]['img_url']}}</p>
    <p>{{links[2]['title']}}</p>
    <p>{{links[2]['img_url']}}</p>
    <p>{{links[3]['title']}}</p>
    <p>{{links[3]['img_url']}}</p>
    <p>{{links[4]['title']}}</p>
    <p>{{links[4]['img_url']}}</p>
    <p>{{links[5]['title']}}</p>
    <p>{{links[5]['img_url']}}</p>
    <p>{{links[6]['title']}}</p>   
    <p>{{links[6]['img_url']}}</p>   

</body>
</html>